/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=f62daf0f-d8b0-4beb-9443-f2f525caa6ae");
/* line 5, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Conduit ITC W01 Bold";
  src: url("../fonts/ef1cf8c3-989e-4b7e-ad89-9e034d47686d.eot?iefix") format("eot");
}
@font-face {
  font-family: "Conduit ITC W01 Bold";
  src: url("../fonts/ef1cf8c3-989e-4b7e-ad89-9e034d47686d.eot?iefix");
  src: url("../fonts/fdaf48d4-c023-4a03-b948-53535ee4d571.woff") format("woff"), url("../fonts/ca6dc25e-d400-4735-9fb9-ee2d025ebb5c.ttf") format("truetype"), url("../fonts/aa206b9b-b888-4ce6-8039-669469e9b429.svg#aa206b9b-b888-4ce6-8039-669469e9b429") format("svg");
}
@font-face {
  font-family: "Conduit ITC W01 Light";
  src: url("../fonts/45fa0132-0858-4e18-9594-5a070788a059.eot?iefix") format("eot");
}
@font-face {
  font-family: "Conduit ITC W01 Light";
  src: url("../fonts/45fa0132-0858-4e18-9594-5a070788a059.eot?iefix");
  src: url("../fonts/e924c59f-bc21-471f-ad1b-cefd0c1a6315.woff") format("woff"), url("../fonts/13b88c12-e5f0-46c4-932a-57fe881b7c46.ttf") format("truetype"), url("../fonts/cf39e66c-fff7-43d5-b865-0a45543d590a.svg#cf39e66c-fff7-43d5-b865-0a45543d590a") format("svg");
}
/* line 1, ../sass/_layout.scss */
html, body {
  font-family: "Conduit ITC W01 Light", trebuchet, sans serif;
  font-size: 100%;
  width: 100%;
  height: 100%;
  min-width: 768px;
}

/* line 9, ../sass/_layout.scss */
h1 {
  text-transform: uppercase;
  font-size: 2.25em;
  font-style: "Conduit ITC W01 Bold", trebuchet, sans serif;
  line-height: 36px;
}

/* line 16, ../sass/_layout.scss */
ul {
  list-style: none;
  display: block;
}

/* line 21, ../sass/_layout.scss */
nav {
  display: block;
}

/* line 25, ../sass/_layout.scss */
a {
  text-decoration: none;
  color: #00B2AD;
}

/* line 30, ../sass/_layout.scss */
header.main {
  height: 80px;
  background-image: url("../img/headerBackground.gif");
  display: block;
}
/* line 35, ../sass/_layout.scss */
header.main .clock {
  display: inline;
  float: left;
  margin: 0 5px;
  padding: 18px 5px 0 5px;
  font-family: 'Timepiece';
  font-size: 40px;
  text-rendering: optimizeLegibility;
  color: #00e1ff;
  text-align: center;
  background: #000;
}

/* line 49, ../sass/_layout.scss */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 60px;
  margin-right: auto;
  height: 100%;
  position: relative;
}

/* line 58, ../sass/_layout.scss */
.brand {
  width: 18.64407%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  height: 100%;
}
/* line 65, ../sass/_layout.scss */
.brand h1 {
  text-indent: -99999px;
  background: url("../img/inform-logo.png") 1px 20px no-repeat;
  height: 50%;
}
/* line 71, ../sass/_layout.scss */
.brand .date {
  display: block;
  color: #D9DBDE;
  margin: 5px 0 0 0;
}

/* line 78, ../sass/_layout.scss */
.mainmenu {
  width: 52.54237%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 84, ../sass/_layout.scss */
.mainmenu a {
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 91, ../sass/_layout.scss */
.horizontal-list {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: visible;
}
/* line 97, ../sass/_layout.scss */
.horizontal-list li {
  width: 22.58065%;
  float: left;
  margin-right: -100%;
  position: relative;
  padding: 0;
  margin-left: 0;
  display: table;
}

/* line 110, ../sass/_layout.scss */
.horizontal-list > li:nth-child(4n+1) {
  clear: left;
  margin-left: 0%;
  color: red;
}
/* line 116, ../sass/_layout.scss */
.horizontal-list > li:nth-child(4n+2) {
  margin-left: 25.80645%;
  clear: none;
}
/* line 121, ../sass/_layout.scss */
.horizontal-list > li:nth-child(4n+3) {
  margin-left: 51.6129%;
  clear: none;
}
/* line 126, ../sass/_layout.scss */
.horizontal-list > li:nth-child(4n+4) {
  margin-left: 77.41935%;
  clear: none;
}
/* line 131, ../sass/_layout.scss */
.horizontal-list > li > a {
  display: table-cell;
  text-transform: uppercase;
  padding-bottom: 2px;
  position: relative;
  color: #D9DBDE;
  width: 100%;
}
/* line 140, ../sass/_layout.scss */
.horizontal-list > li:hover > a:after {
  content: '';
  display: block;
  background: #00E1FF;
  width: 114.28571%;
  height: 4px;
  position: relative;
  top: 3px;
  margin: -4px 0 0 0;
}

/* line 152, ../sass/_layout.scss */
.horizontal-list > li > a {
  display: table-cell;
  height: 40px;
  padding-bottom: 2px;
  vertical-align: bottom;
  position: relative;
  color: #D9DBDE;
  width: 100%;
}
/* line 161, ../sass/_layout.scss */
.horizontal-list > li > a:before {
  content: "";
  width: 2px;
  height: 80px;
  position: absolute;
  background-color: #000;
  top: 0;
  margin-left: -2px;
}

/* line 172, ../sass/_layout.scss */
.horizontal-list > li > .submenu {
  display: none;
  position: absolute;
  top: 43px;
  left: 0;
  background-color: #474949;
  z-index: 1000;
  min-width: 113.49571%;
}
/* line 181, ../sass/_layout.scss */
.horizontal-list > li > .submenu li {
  display: block;
  padding: 0;
  float: none;
  width: 100%;
}

/* line 189, ../sass/_layout.scss */
.mainmenu > .horizontal-list > li .submenu li:hover {
  background: #00E1FF;
}

/* line 193, ../sass/_layout.scss */
.mainmenu > .horizontal-list > li .submenu li.line {
  margin: 11px 5px;
  border-bottom: 1px #D9DBDE solid;
  display: block;
  height: 1px;
  width: 94%;
}
/* line 200, ../sass/_layout.scss */
.mainmenu > .horizontal-list > li .submenu li.line:hover {
  background: none;
}

/* line 205, ../sass/_layout.scss */
.submenu li a {
  display: block;
  text-transform: none;
  color: #D9DBDE;
  line-height: 22px;
  width: 100%;
  padding-top: 4px;
  margin: 0 6px;
}
/* line 214, ../sass/_layout.scss */
.submenu li a:hover {
  color: #474949;
}

/* line 219, ../sass/_layout.scss */
.login {
  padding-left: 13.55932%;
  width: 11.86441%;
  float: right;
  margin-right: 0;
  display: inline;
  text-align: right;
  display: table;
}

/* line 229, ../sass/_layout.scss */
.login a {
  display: table-cell;
  height: 40px;
  vertical-align: bottom;
  position: relative;
  line-height: 18px;
  color: #D9DBDE;
}
/* line 237, ../sass/_layout.scss */
.login a:hover {
  color: #00E1FF;
}

/* line 242, ../sass/_layout.scss */
.iconic.user:after {
  content: 'u';
  font-family: IconicStroke;
  margin-left: 5px;
  display: inline;
}

/* @font-face kit by Fonts2u */
@font-face {
  font-family: "IconicStroke";
  src: url("../fonts/iconic_stroke.eot?") format("eot"), url("../fonts/iconic_stroke.woff") format("woff"), url("../fonts/iconic_stroke.ttf") format("truetype"), url("../fonts/iconic_stroke.svg#IconicStroke") format("svg");
  font-weight: normal;
  font-style: normal;
}
