html, body {
	font-family: $inform3-font-light;
	font-size: $body-font-size;
	width: 100%;
	height: 100%;
	min-width: 768px;
}

h1 {
	text-transform: uppercase;
	font-size: $h1;
	font-style: $inform3-font-bold;
	line-height: 36px;
}

ul {
	list-style: none;
	display: block;
}

nav {
	display: block;
}

a {
  text-decoration: none;
  color: $dark-cyan;
}

header.main {
  height: 80px;
  background-image: url('../img/headerBackground.gif');
  display: block;

	.clock {
	  display: inline;
	  float: left;
	  margin: 0 5px;
	  padding: 18px 5px 0 5px;
	  font-family: 'Timepiece';
	  font-size: 40px;
	  text-rendering: optimizeLegibility;
	  color: #00e1ff;
	  text-align: center;
	  background: #000;
	 }
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 60px;
	margin-right: auto;
	height: 100%;
	position: relative;
}

.brand {
	width: 18.64407%;
	float: left;
	margin-right: 1.69492%;
	display: inline;
	height: 100%;
	
	h1 {
		text-indent: -99999px;
    background: url('../img/inform-logo.png') 1px 20px no-repeat;
    height: 50%;
	}

	.date {
		display: block;
		color: $navi;
		margin: 5px 0 0 0 ;
	}
}

.mainmenu {
	width: 52.54237%;
	float: left;
	margin-right: 1.69492%;
	display: inline;
  
  a {
  	height: 40px;
  	display: table-cell;
  	line-height: 18px;
  	text-transform: uppercase;
  }
}

.horizontal-list {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: visible;
	
	li {
		width: 22.58065%;
    margin-right: -100%;
    position: relative;
    padding: 0;
    display: table;
    float: left;
	}
}

.horizontal-list > li {
  clear: none;

  &:nth-child(4n+1) {
    clear: left;
    margin-left: 0%;
    color: red;
  }
  
  &:nth-child(4n+2) {
    margin-left: 25.80645%;
  }
  
  &:nth-child(4n+3) {
    margin-left: 51.6129%;
  }
  
  &:nth-child(4n+4) {
    margin-left: 77.41935%;
  }

}

.horizontal-list > li > a {
	display: table-cell;
	height: 40px;
	padding-bottom: 2px;
	vertical-align: bottom;
	position: relative;
	color: $navi;
	width: 100%;
	
	&:before {
		content: "";
    width: 2px;
    height: 80px;
    position: absolute;
    background-color: #000;
    top: 0;
    margin-left: -2px;
	}
}

.horizontal-list > li >.submenu {
  display: none;
  position: absolute;
  top: 43px;
  left: 0;
  background-color: $background;
  z-index: 1;
  min-width: 113.49571%;

  li {
  	display: block;
  	padding: 0;
  	float: none;
  }
}

.login {
	padding-left: 13.55932%;
	width: 11.86441%;
	float: right;
	margin-right: 0;
	display: inline;
	text-align: right;
	display: table;

	a {
		display: table-cell;
		height: 40px;
		vertical-align: bottom;
		position: relative;
		line-height: 18px;
    color: $navi;
	}
}

























